.date_tracker_date_box{
    height:9rem ;
    position: relative;
    background-color: var(--section_bg);
    display:grid;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width:thin;
    grid-template-rows: 3rem auto;
}

#date_tracker > h3{
    margin: 0.5rem 0;
}

.tracker_graph_box{
    grid-row: 2;
    overflow-y: auto;
    width:fit-content;
    scrollbar-width: thin;
    scrollbar-gutter: stable;
    min-width: 20rem;

}

.tracker_graph{
    height: 0.5rem;
    margin: 0.25rem 0;
}

.tracker_unique_date_box{
    grid-row:1/2;
}

.tracker_unique_date{
    height: 100%;
    width: auto;
    border-left: solid black 0.125rem;
    position: absolute;
}

.tracker_unique_date > p{
    margin: 0.25rem;
    position: absolute;
}

.tracker_unique_date_end{
    text-align: center;
    padding: 0.5rem 0;
    width: 64px;
    
}

.tracker_unique_date_end > p {
    margin: 50% 0.25rem;
}

#tracker_unique_date_start{
    border-left: 0;
    border-right: solid black 0.125rem;
}


