#project_nav{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 50% 50%;
    z-index: 9;
    padding: 1rem 0;
}

.project_nav > * {
    margin: 0.5rem;
}

#project_title{
    grid-row: 1;
    grid-column: 2;
    margin: auto;
}

.project_selection{
    grid-column: 2;
    grid-row: 2;
    display: flex;
    position: relative;
    justify-content: center;
    margin: 0.5rem;
}

.project_nav_btn{
    grid-row: 1/3;
    font-size: 4rem;
    border: 0.25rem solid var(--section_primary);
    background-color: var(--section_bg);
    color: var(--section_primary);
    margin: 0.5rem;
    transition: 0.5s;
}

.project_nav_btn:hover{
    background-color: var(--section_primary);
}

.project_nav_btn > p{
    color: var(--section_primary);
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    transition: 0.5s;
}

.project_nav_btn:hover > p{
    color: var(--section_bg);
}

#project_nav_left{
    grid-column: 1;
    border-bottom-left-radius: 25%;
    border-top-left-radius: 25%;
}

#project_nav_right{
    grid-column: 3;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 25%;
}

.ps_box{
    background-color: var(--section_primary);
    border: 0.25rem solid var(--section_bg);
    width: 100%;
    position: absolute;

}