#project_overview{
    width: 80vw;
    height: 70rem;
    margin: 1rem auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#project_overview_title{
    grid-column: 2;
    grid-row: 1;
}

.project_overview_box{
    height: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 10% 50% 15% auto;
}

/* GENERAL CONTENT*/
.project_overview_content_box{
    margin: 0.5rem;
}


/* PROJECT DEPARTMENT LEGEND */
#project_department_legend{
    background-color: var(--section_primary);
    grid-column: 1;
    grid-row: 2;

}

/* PIE CHART */
#pie_chart{
    background-color: var(--section_primary);
    grid-column: 2;
    grid-row: 2;
    box-sizing: content-box;

}

#pie_chart_graphic{
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    background-image: conic-gradient(
        blue 70deg,
        red 0 235deg,
        green 0
    );
}

/* BUDGET TRACKER */
#budget_tracker{
    background-color: var(--section_primary);
    grid-column: 3;
    grid-row: 2;
}

/* DATE TRACKER */
#date_tracker{
    background-color: var(--section_primary);
    grid-column: 1/4;
    grid-row: 3;
}

/* PROJECT DETAILS */
#project_details{
    background-color: var(--section_primary);
    grid-row: 4;
    grid-column: 1/4;
}