/* COLOURS*/
:root {
    --primary: #1a1a1a;
    --primary_accent: #282828;
    --secondary: #F2F2F2;
    --first: #8C4A3B;
    --second: #3C401D;
    --third:#04BFAD;
    --hover_link: #8C1EFF;
    }

/* TYPEOGRAPHY */
p{
    color:var(--secondary);
}
div{
    color: var(--secondary);
}

/* GENERAL */
html{
    position:relative; 
    scroll-behavior:smooth;
    /*scrollbar-gutter: stable;*/
}

body{
    background-color: var(--primary);
}

#root{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input[type=button]{
    background: none;
    border: none;
    cursor: pointer;
}

.main_page{
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 8em );

}

.section_container{
    position: relative;
    width: 100%;
    min-height: calc(100vh - 8em );
    background-color: var(--primary);

}

/* HEADER AND FOOTER SIZES */
header{
    height: 4em;
}
footer{
    height: 4em;
}

