/* COLOURS*/
:root {
    --primary: #d9653b;
    --primary_accent: #a65746;
    --secondary: #1E2933;
    --first: #0339a6;
    --second: #214D73;
    --third:#0f5fa6;
    --hover_link: #8C1EFF;

    --main_bg:var(--secondary);

    /* SECTION COLOURS */
    --section_bg: var(--primary_accent);
    --section_primary:var(--primary);
    --section_accent:var(--second);
    --section_secondary:var(--third);

    --section_btn: var(--second);
    --section_btn_text: var(--main_text);
    --section_btn_active: var(--first);
    --section_btn_active_text:var(--main_text);
    --section_btn_hover:var(--hover_link);

    --main_text:#F2F2F2;
    
    }

/* TYPEOGRAPHY */
p{
    color:var(--main_text);
}
div{
    color: var(--main_text);
}

/* GENERAL */
html{
    position:relative; 
    scroll-behavior:smooth;
    /*scrollbar-gutter: stable;*/
}

body{
    background-color: var(--main_bg);
}

#root{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input[type=button]{
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}



.main_page{
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 8em );

}

/* HEADER AND FOOTER SIZES */
header{
    height: 4em;
}
footer{
    height: 4em;
}

