#control_panel{
    background-color: var(--third);
    height: 45em;
    width: 80vw;
    margin: 1em auto;
    padding: 1em;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 80% 5%;
}

#control_panel_title{
    grid-column: 1;
    grid-row: 1;
}

/* CONTROL PANEL NAV */
#control_panel_nav{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cp_nav_btn{
    background-color: var(--second);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    height:2.5em;
}

.cp_nav_btn_active{
    background-color: var(--first);
}

/* GENERAL CONTROL PANEL CONTENT */
.control_panel_action_box{
    background-color: var(--first);
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows:auto auto 3em;
    height: 100%;
    padding: 1em;
}

.cp_content_box{
    grid-row: 2;
    overflow-y: auto;
    overflow-x: hidden;
}

.control_panel_entry{
    display: grid;
    grid-template-rows: 3em auto;
    grid-template-columns: auto;
    padding: 1em;
}

.cp_utility_bar{
    display: flex;
    flex-direction: row;
    grid-row: 3;
    padding: 0.5em;
}

.control_panel_btn{
    height: 100%;
    min-width: 4em;
    background-color: var(--third);
    border-radius: 0.25em;
    margin:0 1em;
}

.color_id{
    width: 3em;
    height: 3em;
}




