#control_panel{
    background-color: var(--third);
    height: 25rem;
    width: 80vw;
    margin: 1rem auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 70% 15%;
}

#control_panel_title{
    grid-column: 1;
    grid-row: 1;
}

/* CONTROL PANEL NAV */
#control_panel_nav{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cp_nav_btn{
    background-color: var(--second);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height:2rem;
}

.cp_nav_btn_active{
    background-color: var(--first);
}

/* GENERAL CONTROL PANEL CONTENT */
.control_panel_content_box{
    background-color: var(--first);
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    padding: 1rem;
}

/* CONTROL PANEL VIEW */
/* *** classes and ids with "cpv" are abbreviated for control panel view ****/
/* *** classes and ids with "cpe" are abbreviated for control panel edit ****/
#control_panel_views{
    display: grid;
    grid-template-rows: 80% 20%;

}

#cpv_entry_box{
    overflow-y: auto;
}

.cpv_entry{
    background-color: var(--third);
    display: grid;
    grid-template-rows: 3rem auto;
    grid-template-columns: auto;
    padding: 10px;
    cursor: pointer;

}

.cpv_entry_odd{
    background-color: var(--second);
}

.cpv_entry_title{
    grid-row: 1;
}

.cpv_item_box{
    grid-row: 2;
    display: flex;
    flex-direction: column;
}


#cpv_btns{
    grid-row: 2;
}

.control_panel_btn{
    height: 2rem;
    width: 3rem;
    background-color: var(--third);
    border-radius:10%;
    padding:10px ;
    margin: 10px
}

.color_id{
    width: 3rem;
    height: 3rem;
}



/* CONTROL PANEL EDIT */
#control_panel_edits{
    display: grid;
    grid-template-rows: 10% 70% 20%;
    grid-column: 100%;
}

.cpe_form{
    grid-row: 1;
    display: flex;
    flex-direction: row;
}

#cpe_form{
    grid-row: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

.cpe_form_input{
    margin: 10px;
}

.success_message{
    grid-row: 2;
}

/* DEPARTMENT EDIT */
#department_elements{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
}

.department_element{
    background-color: var(--third);
    height: 4rem;
    width: 8rem;
    grid-column: 1;
    margin: 5px;
}

.grab_box{
    background-color: var(--second);
    height: 2rem;
    width: 2rem;
    text-align: center;
    cursor: pointer;
    
}