/* CONTROL PANEL VIEW */
/* *** classes and ids with "cpv" are abbreviated for control panel view ****/
.cpv_entry{
    background-color: var(--third);
    cursor: pointer;

}

.cpv_entry_odd{
    background-color: var(--second);
}

#cpv_sort_btn{
    position: relative;
    margin: 0 1em 0 auto;
    min-width:3em;
}

#cpv_sort_btn > .control_panel_btn{
    margin: 0;
}

#cpv_sort_options > .control_panel_btn{
    margin: 0.5em;
}

#cpv_sort_options{
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: 10em;
    background-color: var(--second);
    display: flex;
    flex-direction: column;
}