#edit_project_container{
    width: 80vw;
    margin: 1rem auto;
    display:flex;
    flex-direction: column;
}

.edit_project_btn{
    background-color: var(--edit_project_btn);
    color: var(--edit_project_btn_text);
    border-radius: 0.25rem;
    width: 25%;
    padding: 1rem;
    overflow: hidden;
}

.edit_project_btn:hover{
    transform: scale(1.05);
    background-color: var(--edit_project_btn_hover) !important;
}



@keyframes toggle_selected_btn {
    0%{
        width: 25%;
        pointer-events: all;
    }

    1%{
        pointer-events: none;
    }

    100%{
        width: 100%;
        pointer-events: none;
    }   
}

@keyframes toggle_hidden_btn {
    0%{
        width: 25%;
        pointer-events: all;
    }

    1%{
        white-space: nowrap;
        pointer-events: none;
    }

    100%{
        width: 0;
        padding: 1rem 0;
        white-space: nowrap;
        pointer-events: none;
    }  
    
}

.edit_project_btn_box{
    border-radius: 0.25rem;
    width: 100%;
    height: 4rem;
    margin:auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@keyframes toggle_btn_box_visibility {
    0%{
        height: 4rem;
        pointer-events: all;
    }

    1%{
        pointer-events: none;
    }

    100%{
        height: 0;
        pointer-events: none;
    }
}

.edit_project_input_container{
    overflow: hidden;
    height: 40rem;
    padding: 1rem;
}

@keyframes toggle_input_box_visibility {
    0%{
        padding: 0 1rem;
        height: 0; 
    }

    100%{
        height: 40rem; 
        padding: 1rem;
    }
}

.edit_project_input_container_closed{
    height: 0 ;
    padding: 0 ;
}

.btn_open {
    width: 100%
}

.btn_close{
    width: 0%;
    padding: 1rem 0;
}

.edit_project_input_box{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows:3rem 15rem auto auto 3rem;
    overflow-y: auto;
    position: relative;
    background-color: var(--section_primary);
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 0.5rem;
    padding-right: 0;
}

.edit_project_input_box > h2{
    grid-row: 1;
}

#project_input_form{
    grid-row: 2;
}

.project_dates{
    grid-row: 3;
}

#edit_project_dep_forms_box{
    position: relative;
    grid-row: 4;
}

.edit_project_utility_bar{
    height: 5rem;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    position: sticky;
    transform: translate(0,0.5rem);
    bottom: 0;
}

.utility_bar_buttons{
    background-color: var(--section_primary);
    width: 100%;
    height: 3rem;
    padding: 0.5rem 0;
    display: flex;
    align-items: baseline;
}


.project_dates{
    display: flex;
}

.project_dates > * {
    margin-right: 0.5rem ;
} 

.project_group_select_box > *{
    margin: 0.25rem 0;
}

.project_group_select_box > button{
    margin: 0.25rem 0;
}


/* PROJECT BUDGET BOX */
#project_budget_tracker{
    background-color: var(--section_primary);
    margin-left: auto;
    margin-right: .5rem;
    min-width: fit-content;
    max-width: 15rem;
    padding:0.25rem;
}

#project_budget_tracker > p{
    text-align: end;
}

.under_budget{
    border: solid green 0.25rem;
}

.over_budget{
    border: solid red 0.25rem;
}




