
.pd_input_title_box{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pd_input_add_btn{
    margin: 0 0.5rem;
    padding:0.5rem;
    background-color: var(--section_primary);
    color: var(--section_btn_text);
}




.pd_input_container{
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 0.5rem;
}



.pd_input_box > *{
    margin:0.5rem
}

.pd_employee_dd{
    display: block;
}
