#control_panel{
    height: 45rem;
    width: 80vw;
    margin: 1rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 80% 5%;
}

#control_panel_title{
    grid-column: 1;
    grid-row: 1;
}

/* CONTROL PANEL NAV */
#control_panel_nav{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cp_nav_btn{
    background-color: var(--section_accent);
    color:var(--secondary);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    height:2.5rem;
}

.cp_nav_btn:hover , .cp_nav_btn_active{
    color:var(--section_btn_text)
}

.cp_nav_btn_active{
    background-color: var(--section_primary);
}

/* GENERAL CONTROL PANEL CONTENT */
.control_panel_action_box{
    background-color: var(--section_primary);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows:3rem calc(100% - 6rem) 3rem;
    height: 100%;
    padding: 1rem;
}

.cp_content_box{
    grid-row: 2;
    overflow-y: auto;
    overflow-x: hidden;
}

.control_panel_entry{
    display: grid;
    grid-template-rows: 3rem auto;
    grid-template-columns: auto;
    padding: 1rem;
}

.cp_utility_bar{
    display: flex;
    flex-direction: row;
    grid-row: 3;
    padding: 0.5rem;
}

.general_btn.cp_utility_bar_btn{
    height: 100%;
}





