
.auto_form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; 
}

.auto_form > *{
    margin: 0.5rem;
}

.auto_form_input{
    width: fit-content;
}



.input_option > *{
    margin: 0 0.5rem 0 0;
}

/* CUSTOM RADIO BUTTONS AND CHECKBOXES */
.auto_form_checkbox{
    height: 1.25rem;
    width: 1.25rem;
}

.auto_form_radio{
    width: 1.25rem;
    height: 1.25rem;
}