/* UNIVERSAL STYLING */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    position:relative; 
    scroll-behavior:smooth;
    /*scrollbar-gutter: stable;*/
}

button, input[type=button]{
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.25s;
    border-radius: 0.25rem;
}



/* UNIVERSAL TYPOGRAPHY */
p{
    color:var(--main_text);
}
div{
    color: var(--main_text);
}

/* GENERAL SECTION STYLING */
.general_section{
    background-color: var(--section_bg);
    border-radius: 1rem;
}

.general_btn{
    height: 2rem;
    min-width: 4rem;
    background-color: var(--section_btn);
    color:var(--section_btn_text);
    margin:0 1rem;
}

.general_btn:hover{
    transform: scale(1.05);
    background-color: var(--section_btn_hover) !important;
}
