/* UNIVERSAL STYLING */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    position:relative; 
    scroll-behavior:smooth;
    /*scrollbar-gutter: stable;*/
}

button, input[type=button]{
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.25s;
    border-radius: 0.25rem;
}


/* UNIVERSAL TYPOGRAPHY */
p{
    color:var(--main_text);
}
div{
    color: var(--main_text);
}

/* GENERAL SECTION STYLING */
.general_section{
    background-color: var(--section_bg);
    width: 80vw;
    margin: 1rem auto;
    border-radius: 1rem;
    padding: 1rem;
}

.general_btn{
    height: 2rem;
    min-width: 4rem;
    background-color: var(--section_btn);
    color:var(--section_btn_text);
    padding: 0.5rem;
    margin:0 1rem;
}

.general_btn:hover{
    transform: scale(1.05);
    background-color: var(--section_btn_hover)
}

.status_message{
    animation: show_status_message 2s ease forwards;
}

@keyframes show_status_message {
    0%{
        color: rgba(255, 255, 255, 0);
    }

    25%{
        color: rgba(255, 255, 255, 1);
    }

    75%{
        color: rgba(255, 255, 255, 1);
    }

    100%{
        color: rgba(255, 255, 255, 0);
    }
}

