body{
    background-color: var(--main_bg);
}

#root{
    height: 100%;
}

.main_page{
    position: relative;
    overflow: hidden;
    min-height: calc(100vh - 8em );

}


/* HEADER AND FOOTER SIZES */
header{
    height: 4em;
}
footer{
    height: 4em;
}

