#edit_project_box{
    width: 80vw;
    margin: 1rem auto;
    display:flex;
    flex-direction: column;
}

.edit_project_btn{
    background-color: var(--edit_project_btn);
    color: var(--edit_project_btn_text);
    border-radius: 0.25rem;
    width: 25%;
    height: 4rem;
    padding: 1rem;
    margin:auto;
    overflow: hidden;
}

.edit_project_btn:hover{
    transform: scale(1.05);
    background-color: var(--edit_project_btn_hover) !important;
}

.edit_project_btn_close{
    animation: toggle_btn_visibility 1s ease normal forwards;    
}

.edit_project_btn_open{
    animation: toggle_btn_visibility 1s ease 0.5s reverse backwards;    
}


@keyframes toggle_btn_visibility {
    0%{
        padding: 1rem;
        height: 4rem;
        pointer-events: all;
    }

    1%{
        pointer-events: none;
    }

    50%{
        padding: 1rem;
        height: 4rem;
        width: 100%;
    }

    100%{
        padding: 0;
        height: 0;
        width: 100%;
        pointer-events: none;
    }
}

.edit_project_input_box{
    width: 100%;
    overflow: hidden;
    padding: 0;
    height: 0;
    display: grid;
    grid-template-rows:3rem 12rem 3rem;

}


.edit_project_input_box_close{
    animation: toggle_input_box_visibility 0.5s ease normal forwards;
}

.edit_project_input_box_open{
    animation: toggle_input_box_visibility 0.5s ease 1s reverse backwards;
    height: 20rem;
    padding: 1rem;

}

@keyframes toggle_input_box_visibility {
    0%{
        height: 20rem;
        padding: 1rem;
    }

    100%{
        padding: 0 1rem;
        height: 0;
    }
}

.edit_project_input_box , h2{
    grid-row: 1;
}

#edit_project_form{
    grid-row: 2;
    overflow: hidden;
}

.edit_project_utility_bar{
    display: flex;
    flex-direction: row;
    padding: 0.5rem 0;
    grid-row: 3;
}