.employee_select_box{
    width: 8rem;
    background-color: var(--section_primary) ;
    margin: 0.5rem;
    padding: 0.25rem;
    display: flex;
    flex-direction: column;
}

.p_employee_input{
    width: 100%;
}