.project_department_input_box{
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    padding: 0.5rem;
}

.project_department_input_box > *{
    margin:0.5rem
}

.pd_employee_dd{
    display: block;
    margin: 0.5rem;
}